@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,700&family=Playfair+Display:wght@500;600;700&display=swap');

$black: #2c2c2c;
$gray: #ececec;
$lightGray: #7e7e7e;
$blue: #4383ff;
$trans: all 0.2s ease-in-out;

body {
  background: $gray;
  font-family: 'Montserrat', sans-serif;
  color: $black;
  font-size: 1rem;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 110px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 55px;
  }

  @media (max-width: 450px) {
    padding: 0 30px;
  }
}

.title {
  margin-top: 3rem;
  font-size: 2.5rem;
  position: relative;
  font-weight: 800;

  @media (max-width: 540px) {
    font-size: 2rem;
  }
}

.nav {
  display: flex;
  margin-top: 1.5em;
  gap: 1.5em;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  &__link {
    font-size: 1.3rem;
    transition: $trans;

    &:hover {
      color: $blue;
    }

    @media (max-width: 540px) {
      transform: translateX(-999px);
    }
  }

  &__burger {
    cursor: pointer;
    display: none;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;

    @media (max-width: 540px) {
      display: block;
    }

    &-line,
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $black;
      transition: $trans;
      right: 0;
    }

    &-line {
      top: 50%;
      transform: translateY(-50%);
      width: 80%;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
      width: 60%;
    }
  }
  @media (max-width: 540px) {
    padding-right: calc(40px + 1rem);
  }

  &--active &__link {
    transform: translateX(0);
  }

  &--active &__burger {
    &-line {
      opacity: 0;
    }

    &:before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &:after {
      top: 50%;
      width: 100%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.breadcrumbs {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  color: $lightGray;

  &__item {
    transition: $trans;

    &:hover,
    &:last-child {
      color: $black;
    }
  }
}

.products {
  &__title {
    margin-top: 3rem;
    font-size: 1.3rem;
    text-decoration: underline;
  }

  &__wrapper {
    margin: 3em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
  }
}

.stock {
  max-width: calc(50% - 2.5em);
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1365px) {
    max-width: 100%;
  }

  &__title {
    font-size: 1.3rem;
  }

  &__desc {
    display: flex;
    margin: 1em 0 2em;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__img-wrapper {
    max-width: 50%;
    height: 250px;
    margin-right: 2em;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: 768px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 2em;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-weight: 700;
  }

  &__detail {
    font-style: italic;
    color: $blue;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      width: 0;
      background: $blue;
      transition: $trans;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
